<launch>

    <!-- Arguments -->
    <arg name="N" default="1" doc="Prediction Horizon for MPC control algorithm" />
    <arg name="x" default="-0.55" doc="Fake face coordinate in X position" />
    <arg name="y" default="-0.95" doc="Fake face coordinate in Y position" />
    <arg name="z" default="1.20" doc="Fake face coordinate in Z position" />

    <!-- Run the necessary nodes for Baxter fake MPC execution -->
    <node name="go_to_home" pkg="baxter_bon_appetit" type="node_go_to_home.py" respawn="true" output="screen" />
    <node name="publish_face_coordinates" pkg="baxter_bon_appetit" type="node_publish_fake_face_coordinates.py" args="$(arg x) $(arg y) $(arg z)" respawn="true" output="screen" />
    <node name="mpc_control" pkg="baxter_bon_appetit" type="node_mpc_control_trajectory.py" args="$(arg N)" respawn="true" output="screen" />
    <node name="joint_position_control" pkg="baxter_bon_appetit" type="node_joint_position_control.py" respawn="true" output="screen" />

</launch>